<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/css/StyleSheet1.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f58c939b44.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="topnav">
            <div class="container" style="align-items: center; display: flex">
                <div class="col-md-8">
                    <a href="~/Project/Index" style="width: 100%; ">
                        <img src="~/Images/images.jpg" style="width: 30px; display: inline-block; margin-right: 5px" />
                        <span>Project Information Management</span>
                    </a>
                </div>
                <div class="flex-container col-md-4">
                    <div style="flex-grow: 4">
                        <a>En</a>|<a>Vi</a>
                    </div>
                    <div style="flex-grow :2">
                        <a>Help</a>
                    </div>
                    <div style="flex-grow: 3">
                        <a>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr />

    <div class="container body-content">
        <div class="col-md-3">
            
            <ul>
                <strong>Projects List</strong>
                <li>New</li>
                <li>Project</li>
                <li>Customer</li>
                <li>Supplier</li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
