@model SPK_PIM.Models.IndexPageModel
@using System.Globalization;
@{
    ViewBag.Title = "Index";
    var url = "/Project/Index?_pageindex=";
}

@if(ViewBag.isRemoved == true)        
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Resources.Resources.isRemoved
    </div>
}

<div class="container-fluid">
    
    <div>
        <h2>Project List</h2>
        <hr />
        
            
            @using (Html.BeginForm("Index", "Project", FormMethod.Get))
            {
            <div class="row" style="display: flex">

                <div class="form-group col-md-4">
                    <input class="form-control" placeholder="@Resources.Resources.SearchStringPlaceHolder" name="_searchstring" type="text" value="">
                </div>

                <div class="form-group col-md-2" >
                    <div class="">
                        <select id="statusDropdown" class="form-control dropdown setwidth" name="_status">
                            <option value="">All</option>
                            <option value="0">NEW</option>
                            <option value="1">PLA</option>
                            <option value="2">INP</option>
                            <option value="3">FIN</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <input class="btn btn-primary btn-block" type="submit" value="@Resources.Resources.Filter" />
                </div>
                <div class="form-group col-md-3" style="display: flex; ">
                    <span onmouseenter="changeColor(this)" onmouseleave="backColor(this)" style="align-self: center; text-align: center; margin: auto;" class="setwidth" onclick="Reset()">@Resources.Resources.ResetSearch</span>
                </div>
            </div>
        }


            <form style="margin-top: 5px" action="~/project/Delete" method="get">
                <input hidden name="returnUrl" value=@Request.RawUrl />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.ActionLink(Resources.Resources.Number, "Index", new
                           {
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = "projectnumber",
                               _pageIndex = Model.PageIndex,
                               _numberOfRows = Model.NumberOfRows,
                               _acsending = (Model.SortingKind == "projectnumber" && Model.Acsending == true)? false : true
                           })
                                @if (Model.Acsending == true && Model.SortingKind == "projectnumber")
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.Acsending == false && Model.SortingKind == "projectnumber")
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </th>
                            <th>
                                @Html.ActionLink(Resources.Resources.ProjectName, "Index", new
                           {
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = "projectname",
                               _pageIndex = Model.PageIndex,
                               _numberOfRows = Model.NumberOfRows,
                               _acsending = (Model.SortingKind == "projectname" && Model.Acsending == true) ? false : true,
                           })
                                @if (Model.SortingKind == "projectname" && Model.Acsending == true)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.SortingKind == "projectname" && Model.Acsending == false)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </th>
                            <th>
                                @Html.ActionLink(Resources.Resources.Status, "Index", new
                           {
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = "status",
                               _pageIndex = Model.PageIndex,
                               _numberOfRows = Model.NumberOfRows,
                               _acsending = (Model.SortingKind == "status" && Model.Acsending == true) ? false : true,
                           })
                                @if (Model.SortingKind == "status" && Model.Acsending == true)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.SortingKind == "status" && Model.Acsending == false)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </th>
                            <th>
                                @Html.ActionLink(Resources.Resources.Customer, "Index", new
                           {
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = "customer",
                               _pageIndex = Model.PageIndex,
                               _numberOfRows = Model.NumberOfRows,
                               _acsending = (Model.SortingKind == "customer" && Model.Acsending == true) ? false : true,
                           })
                                @if (Model.SortingKind == "customer" && Model.Acsending == true)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.SortingKind == "customer" && Model.Acsending == false)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </th>
                            <th>
                                @Html.ActionLink(Resources.Resources.StartDate, "Index", new
                           {
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = "startdate",
                               _pageIndex = Model.PageIndex,
                               _numberOfRows = Model.NumberOfRows,
                               _acsending = (Model.SortingKind == "startdate" && Model.Acsending == true) ? false : true,
                           })
                                @if (Model.SortingKind == "startdate" && Model.Acsending == true)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.SortingKind == "startdate" && Model.Acsending == false)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </th>
                            <th>
                                @Resources.Resources.Delete
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Projects)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="projectIds" id="projectIds" value=@item.ID />
                                </td>
                                <td>
                                    @Html.ActionLink(item.ProjectNumber, "Details", new { id = item.ID, returnUrl = Request.RawUrl })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td id=@String.Format("Status{0}", item.ID)>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer)
                                </td>
                                <td>
                                    @{
                                        var date = item.StartDate.ToString("d", CultureInfo.CurrentCulture);
                                    }
                                    @Html.DisplayFor(modelItem => date)
                                </td>
                                <td>
                                    @{ 
                                        var deleteUrl = "/Project/DeleteOne/" + item.ID + "?returnUrl=" + Request.RawUrl;
                                    }
                                    <a hidden href=@deleteUrl id="@item.ID" data-id="@item.ID" data-returnUrl=@Request.RawUrl>
                                        <i class="fas fa-trash-alt" style="color: orangered"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot hidden id="footer">
                        <tr>
                            <td colspan="6" id="SelectedCheckbox">

                            </td>
                            <td>
                                <a onclick="$(this).closest('form').submit()" id="MultiDelete">
                                    <i class="fas fa-trash-alt" style="color: orangered"></i>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.PageIndex != 1)
                    {
                        <li>
                            <a href=@Url.Action("Index", "Project",  new{
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = Model.SortingKind,
                               _pageIndex = Model.PageIndex - 1,
                               _numberOfRows = Model.NumberOfRows
                            }) aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @{
                        var maxPage = Model.MaxPage / Model.NumberOfRows;
                        if ((Model.MaxPage % Model.NumberOfRows) != 0)
                        {
                            maxPage += 1;
                        }
                    }
                    @for (int i = 1; i <= maxPage; i++)
                    {
                        <li>
                            @Html.ActionLink(i.ToString(), "Index", new
                            {
                           _status = (Model.Status != null) ? Model.Status : "",
                           _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                           _sortingKind = Model.SortingKind,
                           _pageIndex = i,
                           _numberOfRows = Model.NumberOfRows
                        })
                    </li>
                    }
                    
                    @if (Model.PageIndex != maxPage)
                    {
                        <li>
                            <a href=@Url.Action("Index", "Project",  new{
                               _status = (Model.Status != null) ? Model.Status : "",
                               _searchString = (Model.SearchString != null) ? Model.SearchString : "",
                               _sortingKind = Model.SortingKind,
                               _pageIndex = Model.PageIndex + 1,
                               _numberOfRows = Model.NumberOfRows
                            }) aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
</div>


<form action="~/Project/Index" method="get" hidden>
    <input name="_sortingKind" id="_sortingKind"/>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {

            $(":checkbox").each(function () {
                let id = $(this).prop("value");
                let statusID = "Status" + id;
                let statusValue = document.getElementById(statusID).textContent.trim();
                if (statusValue != 'NEW') {
                    this.disabled = true;
                }
            })

            $('input[type="checkbox"]').click(function () {
                let id = $(this).prop("value");
                let statusID = "Status" + id;
                let statusValue = document.getElementById(statusID).textContent.trim();

                if ($(this).prop("checked") == true) {
                    if (statusValue == 'NEW') {
                        $("a#" + id).show();
                    }
                }
                else if ($(this).prop("checked") == false) {
                    let id = $(this).prop("value");
                    $("a#" + id).hide();
                }
                var count = $("input[type='checkbox']:checked").length;
                var node = document.getElementById("SelectedCheckbox");
                if (count > 0) {
                    $("#footer").show();
                } else {
                    $("#footer").hide();
                }
                node.textContent = "Selected " + count;
            });

        });

        function Reset() {
            const txtSearchString = document.getElementsByName("_searchstring")[0];
            txtSearchString.value = '';
            var dropDown = document.getElementById("statusDropdown");
            dropDown.selectedIndex = 0;
        }

        function changeColor(text) {
            text.style.color = "blue";
        }

        function backColor(text) {
            text.style.color = "black";
        }
    </script>

    <script>
        $(document).ready(function () {
            var dropDown = document.getElementById("statusDropdown");
            dropDown.selectedIndex = 1 + @Model.Status;
        })
    </script>
    }
